<style type="text/css">
#map,table{width:100%}.error_div,table{font-family:jura}#map{display:block;height:400px}.scroll{height:100%}.error_div{font-weight:800!important;color:red!important}td,th{font-weight:700;color:#fff;padding:8px;border:1px solid #ccc}table{border-collapse:collapse;background:#F4874B}tbody>tr:hover,th{background:#A3586D}th{font-size:16px}td{font-size:14px}tbody>tr:hover{cursor:pointer}tr .spnTooltip{z-index:10;display:none;padding:5px;margin-top:-40px;margin-right:10px!important;line-height:16px}tr:hover .spnTooltip{display:inline;position:absolute;color:#444;background:#ef473a}.odd{background:#F3B05A}.even{background:#F46A4E}.subdued,img{cursor: pointer;}
  .error_div{color:red!important;font-weight:800}

.full-image {
    width: 100%;
    height: 420px !important;
}
</style>
<ion-view class="itemView" view-title="{{item.title}}" ng-style="{ 'background-color': item.color }">
   <ion-content class="animated pulse">
   		<div class="row row-no-padding">
   			<!---------------------------------- Document Section ---------------------------------->
   			<div ng-if="item.code=='doc'" style="width: 100%">
   				<style type="text/css">
					label,select{
						font-size: 14px !important;
						font-weight: bold;
						color:#444 !important;    
					}input{
						font-size: 14px !important;
						color:#444 !important;
						width: 100% !important;
					}
					.error_div{
						color:red!important;
						font-weight:800
					}
					.item-checkbox{
						border: none !important;
						padding: 0px 50px;
						margin: -15px 0 0 -10px;
					}
					li{
					  margin: 5px 10px;
					  font-size: 12px;
					  text-align: start;
					  font-weight: 600;
					  list-style-type: initial;
					}
   				</style>
		   		<div class="list">
		   		  <div class="item item-body">
		   		    <img class="full-image" ng-if="cameraimage" ng-src="{{cameraimage}}" />
		   		    <img class="full-image" ng-if="!cameraimage" ng-src="img/doc_alt.png" />
		   		    <div class="button-bar">
		   		     	<a class="button button-positive icon ion-camera" ng-if="!cameraimage" ng-title="Take Document Picture" ng-click="takePicture()">&nbsp;</a>
		   		      	<a class="button button-assertive icon ion-loop" ng-if="cameraimage" ng-title="Re-take Document Picture" ng-click="takePicture()">&nbsp;</a>
		   		  		<a class="button button-balanced icon ion-paper-airplane" 
		   		  		   ng-disabled="!cameraimage" ng-click="sendPicture(cameraimage)" ng-title="Upload Document">&nbsp;</a>
		   		    </div>
		   		  </div>
		   		</div>	
   			</div>
   			
   			<!---------------------------------- Officer Location Section ---------------------------------->
			<ion-list ng-if="item.code=='officers_loc'" style="width: 100%" ng-controller="LocationCtrl" ng-init="getLoactions()">
			  	<table class="table">
				  <thead>
				    <tr>
				      <th>#</th>
				      <th>Sent on</th>
				      <th>Officer Name</th>
				    </tr>
				  </thead>
				  <tbody ng-if="!locations">
				    <th colspan="3">
				        <ion-spinner icon="lines" class="spinner-assertive"></ion-spinner><br>Fetching Locations.
				    </th>
				  </tbody>
				  <tbody ng-if="locations==0">
				    <th colspan="3">No Locations Found</th>
				  </tbody>
				  <tbody>
				    <tr ng-repeat="location in locations" 
				    	on-tap="showLocation(location.longitude,location.latitude,location.full_name,location.created_on,location.id)">
				      <td>{{$index+1}}</td>
				      <td>
				      	<span class="spnTooltip">View {{location.full_name}} Location</span>
				      	{{getDate(location.created_on)|date:'medium'}}
				      </td>
				      <td>{{location.full_name}}</td>
				    </tr>
				  </tbody>
				</table>
			</ion-list>

   			<!---------------------------------- Docmuent Comment Section ---------------------------------->
			<div class="list" ng-if="item.code=='doc_comment'" style="width: 100%" ng-controller="DocCommentsCtrl" ng-init="getDocuments()">
			  <div ng-if="documents != ''" class="item item-body" ng-repeat="document in documents">
			    <img ng-click="showImages(document.mforn_doc)" class="full-image" src="{{document.mforn_doc}}">
			    <p>
			      <a class="subdued"><i class="ion-document-text"></i>&nbsp;M-Form Number : {{document.mform_number}}</a>
			    </p>
			    <p>
			      <a ng-controller="DocCommentsCtrl" ng-click="getComments(document.doc_id,document.mforn_doc)" class="subdued">
			      	<i class="ion-chatbox-working"></i>&nbsp;View Comments
			      </a>
			    </p>
			  </div>
			  <div ng-if="documents == ''" class="item item-body">
			    <img class="full-image" src="img/noresult.png" style="height: 200px !important">
			  </div>
			</div>

   			<!---------------------------------- Location Section ---------------------------------->
   			<div ng-if="item.code=='loc'" style="width: 100%">
				<div class="item item-body" ng-init="getCurrentLocation()">
					<div id="map" data-tap-disabled="true"></div><hr>
					<p class="subdued error_div" ng-show="errorMsg">{{errorMsg}}</p><hr ng-show="errorMsg">
					<p class="subdued"><strong>Current Longitude </strong> &nbsp; {{position.coords.longitude}}</p><hr>
					<p class="subdued"><strong>Current Latitude </strong> &nbsp; {{position.coords.latitude}}</p><hr>
					<div class="button-bar">
						<a class="button button-balanced icon ion-location" ng-click="getCurrentLocation(position.coords)">&nbsp;</a>
						<a class="button button-positive icon ion-paper-airplane" ng-disabled="!position" ng-click="sendLocation(position.coords)">&nbsp;</a>
					</div>
				</div>
   			</div>

   			<!---------------------------------- M-FORM DETAIL Section ---------------------------------->
   			<div ng-if="item.code=='mform'" style="width: 100%">
		   		<div class="item item-text-wrap" style="background: rgba(255,255,100,0.4);">
		   			<h1 style="font-size: 12px;" class="title">Please Enter Valid M-Form Number/Vehicle Number</h1>
		   		    <label class="item item-input item-floating-label">
		   		        <span class="col input-label">M-Form Number</span>
		   		        <input type="text" ng-model="data.mformnumber" ng-pattern-restrict="^[A-Za-z0-9]*$" placeholder="M-Form Number/Vehicle Number">
		   		    </label>
		   		    <div class="button-bar">
		   		    	<button class="button button-outline button-block button-assertive icon ion-paper-airplane" 
		   		    			ng-disabled="!data.mformnumber" ng-click="getDetail()" >
			   		       &nbsp;Get Detail
			   		    </button>
		   		    </div>
		   		</div>
		   		<div ng-if="FormData.vehicle_number">
		   			<h4 class="item row title" style="font-size: 18px;;padding: 10px;border-bottom: 1px solid;">
		   			  <i class="icon {{item.icon}}"></i>&nbsp;Form Number :: {{FormData.mform_number }}
		   			</h4>
		   			<div class="item item-body">
		   			  <p class="subdued">
		   			  	<span style="font-size: 14px;font-weight:800;color:black" class="title">Form Date &amp; Time</span><br>
		   			  	{{getDate(FormData.created_on)|date:'medium'}}
		   			  </p>
		   			</div>
		   			<div class="item item-body">
		   			  <p class="subdued">
		   			  	<span style="font-size: 14px;font-weight:800;color:black" class="title">Vehicle Number</span><br>
		   			  	{{FormData.vehicle_number}}
		   			  </p>
		   			</div>
		   			<div class="item item-body">
		   			  <p class="subdued">
		   			  	<span style="font-size: 14px;font-weight:800;color:black" class="title">Name of Mineral</span><br>
		   			  	{{FormData.name_of_mineral}}
		   			  </p>
		   			</div>
		   			<div class="item item-body">
		   			  <p class="subdued">
		   			  	<span style="font-size: 14px;font-weight:800;color:black" class="title">Qty/Unit</span><br>
		   			  	{{FormData.quantity_carrying}} {{FormData.quantity_unit}}
		   			  </p>
		   			</div>
		   			<div class="item item-body">
		   			  <p class="subdued">
		   			  	<span style="font-size: 14px;font-weight:800;color:black" class="title">Mode of Transport</span><br>
		   			  	{{FormData.mode_of_transport}}
		   			  </p>
		   			</div>
		   			<div class="item item-body">
		   			  <p class="subdued">
		   			  	<span style="font-size: 14px;font-weight:800;color:black" class="title">Driver Name</span><br>
		   			  	{{FormData.driver_full_name}}
		   			  </p>
		   			</div>
		   			<div class="item item-body">
		   			  <p class="subdued">
		   			  	<span style="font-size: 14px;font-weight:800;color:black" class="title">Driver Number</span><br>
		   			  	{{FormData.driver_mobile_number}}
		   			  </p>
		   			</div>
		   			
		   			<div class="item item-body">
		   			  <p class="subdued">
		   			  	<span style="font-size: 14px;font-weight:800;color:black" class="title">Vehicle Owner Name</span><br>
		   			  	{{FormData.name_of_owner_of_vehicle}}
		   			  </p>
		   			</div>

		   			<div class="item item-body">
		   			  <p class="subdued">
		   			  	<span style="font-size: 14px;font-weight:800;color:black" class="title">Name of Contractor/Lease/Permit/Permission holder</span><br>
		   			  	{{FormData.name_of_contractor}}
		   			  </p>
		   			</div>
		   			<div class="item item-body">
		   			  <p class="subdued">
		   			  	<span style="font-size: 14px;font-weight:800;color:black" class="title">Name of Location of Mine</span><br>
		   			  	{{FormData.location_of_mine}}
		   			  </p>
		   			</div>
		   			<div class="item item-body">
		   			  <p class="subdued">
		   			  	<span style="font-size: 14px;font-weight:800;color:black" class="title">Place Where Mineral id being Sent</span><br>
		   			  	{{FormData.place_where_mineral_is_being_sent}}
		   			  </p>
		   			</div>
		   			<div class="item item-body">
		   			  <p class="subdued">
		   			  	<span style="font-size: 14px;font-weight:800;color:black" class="title">Name of Person/party to whom mineral is, bring dispatched</span><br>
		   			  	{{FormData.name_of_party}}
		   			  </p>
		   			</div>
		   			<div class="list" ng-if='userInfo.role_id != 0 && userInfo.role_id'>
		   			  <div class="item item-body">
		   			  	<p class="subdued">
		   			  		<span style="font-size: 14px;font-weight:800;color:black" class="title">Upload Document If Required.</span>
		   			  	</p>
		   			    <img class="full-image" ng-if="cameraimage" ng-src="{{cameraimage}}" />
		   			    <img class="full-image" ng-if="!cameraimage" ng-src="img/doc_alt.png" />
		   			    <div class="button-bar">
		   			     	<a class="button button-positive icon ion-camera" ng-if="!cameraimage" ng-title="Take Document Picture" ng-click="takePicture()">&nbsp;</a>
		   			      	<a class="button button-assertive icon ion-loop" ng-if="cameraimage" ng-title="Re-take Document Picture" ng-click="takePicture()">&nbsp;</a>
		   			  		<a class="button button-balanced icon ion-paper-airplane" 
		   			  		   ng-disabled="!cameraimage" ng-click="sendPicture(cameraimage,FormData.mform_number)" ng-title="Upload Document">&nbsp;</a>
		   			    </div>
		   			  </div>
		   			</div>
		   		</div>  
   			</div>

   			<!---------------------------------- Helpline Section ---------------------------------->
   			<div ng-if="item.code=='helpline'" style="width: 100%">
		   		<span ng-init="callHelpline();"></span>
   			</div>
   			<!---------------------------------- Mail Section ---------------------------------->
   			<div ng-if="item.code=='mail'" style="width: 100%">
		   		<span ng-init="mailQuery();"></span>
   			</div>
   			<!---------------------------------- USSD Section ---------------------------------->
   			<div ng-if="item.code=='ussd'" style="width: 100%">
		   		<span ng-init="ussd();"></span>
   			</div>
   		</div>  		
   	</ion-content>
</ion-view>