<ion-view class="homeView" view-title="Home" hide-nav-bar="true">
  <ion-content>
    <div class="row row-center">
      <div class="col col-center text-center">
        <h1 class="animated bounceInDown" style="font-size: 20px;font-weight: 800;">
          <ion-spinner icon="ripple"  class="spinner-assertive"></ion-spinner><br>
          <small style="font-size: 21px!important;font-weight: 800;">Offline</small><br>
          Please check your internet connection.
        </h1>
      </div>
    </div>
  </ion-content>
</ion-view>